<style>
    .filebrowser ul { list-style-type: none; width:80%;padding-top:1em;overflow:hidden;}
    .filebrowser ul ul{width:100%;}
    .filebrowser li {
    	padding-left:28px; display:block;overflow:hidden;margin-bottom:.5em;
        background: transparent url(/images/icons.png) no-repeat;
        background-position: 4px 4px;
    }
    li.file a { background: none; }
    li.file.jpg,  li.file.gif, li.file.png { background-position: 4px -425px; }
    li.file.pdf { background-position: 4px -254px; }
    li.file.docx { background-position: 4px -81px; }
    li.file.xlsx { background-position: 4px -339px; }
    li.file.pptx { background-position: 4px -339px; }
    li.file.pptx { background-position: 4px -167px; }
    li.dir { background-position: 4px -512px; }
    
    input[type="submit"]:not(.cancel){
        padding:6px;
        float:right;
    }
    div.filebrowser div{padding:1em;}
</style>
<div class="overlay filebrowser">
<aside>
    <h1>Select Item</h1>
    <div>
        @Html.Partial("_FileLister")
        <input type="submit" class="cancel" value="cancel" />
    </div>
</aside>
</div>
