@model EckeSnuff.ViewModels.IBaseViewModel<BrickPile.Domain.Models.IPage>
@using BrickPile.UI.Common
@using BrickPile.UI.Web.Mvc.Html
<ul id="nav">
@{var i = 0;}
@foreach (var node in Model.NavigationContext.AsHierarchy()) {
    <li class="item_@(++i)">
    @if (!node.Entity.Equals(Model.CurrentPage)) {
        @Html.ActionLink(node.Entity);
        
    }
    else {
        @Html.ActionLink(node.Entity.Metadata.Name, "index", new { model = node.Entity }, new { @class = "selected" });
    }
    </li>
}
</ul>



