<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah.corelibrary" version="1.2" />
  <package id="elmah" version="1.2.0.1" />
  <package id="log4net" version="1.2.10" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="RavenDB-Embedded" version="1.0.0.397" />
  <package id="WebActivator" version="1.4.1" />
  <package id="structuremap" version="2.6.2" />
  <package id="BrickPile-Embedded" version="0.4" />
  <package id="routedebugger" version="2.0.0.7" />
</packages>