<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="Raven/PluginsDirectory" value="~\App_Data\Plugins" />
    <add key="SiteName" value="eckesnuff.se" />
    <add key="RouteDebugger:Enabled" value="false" />
    <add key="DropboxVirtualPath" value="~/dropbox/"/>
    <add key="BypassFileSize" value="2048"/>
    <add key="DropboxPublicLink" value="http://dl.dropbox.com/u/1785085/{0}"/>
    <add key="DropboxPhysicalPath" value="d:\temp\dropboxcool"/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/dashboard/account" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <membership defaultProvider="RavenDBMembership">
      <providers>
        <clear />
        <add name="RavenDBMembership" applicationName="Stormbreaker" type="BrickPile.UI.Web.Security.RavenDBMembershipProvider, BrickPile.UI" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="RavenDBRole">
      <providers>
        <clear />
        <add name="RavenDBRole" applicationName="Stormbreaker" type="BrickPile.UI.Web.Security.RavenDBRoleProvider, BrickPile.UI" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="ETag" value="&quot;&quot;" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <add name="ContainerDisposal" type="BrickPile.UI.Web.ContainerDisposalModule, BrickPile.UI" />
    </modules>
    <handlers>
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
    </handlers>
    <staticContent>
      <clientCache cacheControlMaxAge="14.00:00:00" cacheControlMode="UseMaxAge" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="RavenDB" connectionString="DataDir = D:\Projects\Git\eckesnuff.se\src\Data2" />
  </connectionStrings>
  <location path="Dropbox">
    <system.webServer>
      <handlers>
        <add name="Dropbox" path="*" verb="*" type="EckeSnuff.Dropbox.StaticFileHandler, EckeSnuff.Dropbox" />
      </handlers>
    </system.webServer>
  </location>
</configuration>